QMainWindow, QDialog { background-color: hsl(230, 50%, 10%); }
QWidget { color: hsl(0, 0%, 80%); }

/* Scrollbar */
QScrollBar {
    border: none;
    background-color: hsl(220, 40%, 10%);
    margin: 0px;
}
QScrollBar:vertical {width: 10px;}
QScrollBar:horizontal {height: 10px;}

QScrollBar::handle {
    background-color: hsl(220, 30%, 30%);
    border-radius: 5px;
    min-height: 30px;
}

QScrollBar::handle:hover {background-color: hsl(220, 20%, 40%);}
QScrollBar::add-line, QScrollBar::sub-line {height: 0px;} /* Hide up down arrows */

/* Menu Bar */
QMenuBar {
    background-color: hsl(220, 50%, 20%);
    border-bottom: 1px solid hsl(220, 30%, 25%);
}
QMenuBar::item {padding: 10px 20px;}
QMenuBar::item:selected {background-color: hsl(220, 40%, 30%);}

/* Menu Dropdown */
QMenu {
    background-color: hsl(220, 50%, 20%);
    border: 1px solid hsl(220, 40%, 40%);
}

/* Tabs */
#TabContainer {
    background-color: hsl(220, 50%, 20%);
    border-radius: 20px;
    padding: 4px;
}

#TabBtn {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    border-radius: 16px;
    padding: 8px 16px;
    font-weight: bold;
    border: none;
}
#TabBtn:hover { background-color: hsl(220, 30%, 20%); }
#TabBtn[active="true"] { background-color: hsl(220, 90%, 60%);}


QStatusBar{
    background-color: hsl(230, 50%, 13%);
}